@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --card-dark : #161629;
  --primary : #6016FC;
  --green : #16FCD2;
  --muted : rgba(255, 255, 255, 0.6);
  --highlight : #221048;
  --light : rgba(255, 255, 255, 0.05);
  --button-light: rgba(255, 255, 255, 0.1);
  --border-light: rgba(255, 255, 255, 0.1);
  --primary-light: rgba(96, 22, 252, 0.1);
  --dark: #0B0B22;
  --red: #FC165B; 
}
body {
  font-family: 'Noto Sans', sans-serif;
  background-color : var(--dark);
  font-size: 16px;
  font-weight: 400; 
  color: white;
}
/*  COMPONENT REUSABLE */
@layer components {
  .collosal-tagline {
     @apply font-semibold leading-8 text-[var(--green)]
  }
   .collosal-title {
     @apply font-bold text-[36px] leading-[54px]; 
   }
   .collosal-description {
     @apply font-medium leading-[32px] text-[var(--muted)] w-[415px];
   }

}