@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-dark: #161629;
  --primary: #6016fc;
  --green: #16fcd2;
  --muted: rgba(255, 255, 255, 0.6);
  --highlight: #221048;
  --light: rgba(255, 255, 255, 0.05);
  --button-light: rgba(255, 255, 255, 0.1);
  --border-light: rgba(255, 255, 255, 0.1);
  --primary-light: rgba(96, 22, 252, 0.1);
  --dark: #0b0b22;
  --red: #fc165b;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
/*  COMPONENT REUSABLE */
@layer components {
  /* Page */
  .page {
    @apply bg-hero py-8 overflow-x-hidden;
  }
  .page-container {
    @apply w-[80%] m-auto box-border;
  }

  /* Font */
  .collosal-tagline {
    @apply font-semibold leading-8 text-[var(--green)];
  }
  .collosal-title {
    @apply font-bold text-[36px] leading-[54px];
  }
  .collosal-description {
    @apply leading-[32px] text-[var(--muted)] font-normal;
  }

  /* pricing Card */
  .pricing-card {
    @apply grid grid-rows-3 justify-center rounded-md  w-[290px] h-[440px] md:w-[320px] md:h-[470px] box-border pt-12;
  }
  .button-card {
    @apply bg-white text-indigo-500 w-[200px] h-[50px] rounded;
  }

  /* testimonial Card */
  .testimonial-card {
    @apply grid grid-rows-2 justify-center text-center w-[370px] h-[380px] bg-white bg-opacity-5 p-12 box-border;
  }

  /* Button */
  .button-transparent {
    @apply w-[112px] h-[39px] bg-white text-center bg-opacity-5;
  }
}

/* Slick CSS Styling */
.slick-slider .slick-slide:not(.slick-center) {
  opacity: 0.5;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slick-slider .slick-slide.slick-center {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

li:hover {
  color: white;
}
